html{
	margin: 0px;
	pause: 0px;
}

body{
	background-color: rgb(92, 66, 130);
}

.panel{
	width: 550px;
	top: 50px;
	position: relative;
	margin: auto !important;
	
}
.list-group{
	width: 150px;
	position: absolute;
	margin-top: 50px;
}


