html{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
}

.menu{
	width: 30%;
	position: fixed;		
	height: 100%;
}

.corpo{
	margin-top:50px;
	width: 68%;	
	position: absolute;
	left: 31%;
	height: 100%;
	margin-right: 1%;
}

.menu ol{
	list-style: none;
	margin-top: 200px;
	margin-left: 50px;	
}

.menu ol li{
	padding: 5px;
	
}
.menu ol li a{
	text-decoration: none;
	color: #000;
}

table, th, td {
   border: 1px solid black;
}

table {
    width: 100%;
}

th {
    height: 20px;
}

th, td {
    padding: 5px;
    text-align: center;
}