<div ng-controller="listaEmpresaCTRL">
	<fieldset>
	<legend>Cadastro de Video Game</legend>
		<form class="form-horizontal">
		
			<label for="nome" class="col-sm-2 control-label">Nome: </label> 
			<input type="text" ng-model="console.nome" class="form-control" /> 
			
			<label for="nome" class="col-sm-2 control-label">Data: </label> 
			<input type="date" ng-model="console.dataAquisicao" class="form-control"
				id="data" placeholder="Data"> 
			
			<label for="empresa" class="col-sm-2 control-label">Empresa: </label> 
			<select
				class="form-control" id="empresa" ng-model="console.empresa.id">
				<option ng-repeat="x in empresas" value="{{x.id}}">{{x.nome}}</option>
			</select>
		
			<button type="button" class="btn btn-success"
				ng-click="salvar(console)">Salvar</button>
			<button type="button" class="btn btn-warning"
				ng-click="alterar(console)">Alterar</button>
		</fieldset>
	</form>
</div>

