<h1>Lista Empresas</h1>
<div ng-controller="listaEmpresaCTRL">
	<table>
		<tr>
			<th>Nome</th>
		</tr>
		<tr ng-repeat="x in empresas">
			<td>{{x.nome}}</td>
			<td><button type="button" ng-click="selecionar(x)">Selecionar</button></td>
			<td><button type="button" ng-click="excluir(x.id)">Excluir</button></td>
		</tr>		
	</table>
	<a href="#">Inicio</a>
	<button type="button" ng-click="#formEmpresa">Novo</button>
</div>