<h1>Lista Consoles</h1>
<div ng-controller="listaConsoleCTRL">
	<table>
		<tr>
			<th>Nome</th>
			<th>Data Cadastro</th>
			<th>Empresa</th>
		</tr>
		<tr ng-repeat="x in consoles">
			<td>{{x.nome}}</td>
			<td>{{x.dataAquisicao}}</td>
			<td>{{x.empresa.nome}}</td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>