<h1>Lista Jogos</h1>
<div ng-controller="listaJogoCTRL">
	<table>
		<tr>
			<th>Nome</th>
			<th>Console</th>
		</tr>
		<tr ng-repeat="x in jogos">
			<td>{{x.nome}}</td>
			<td>{{x.console.nome}}</td>
			<td><button type="button" ng-click="selecionar(x)">Selecionar</button></td>
			<td><button type="button" ng-click="excluir(x.id)">Excluir</button></td>
		</tr>
	</table>
</div>