<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<script src="lib/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/consoleCTRL.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.theme.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/estilo.css"/>
</head>
<body ng-controller="gameCTRL">

	<div class="container">
		<ol  class="list-group">
			<li class="list-group-item">Home</li>
			<li class="list-group-item">Home</li>
			<li class="list-group-item">Home</li>
			<li class="list-group-item">Home</li>
		</ol>
		<div class="panel panel-default">	
			<div class="panel-heading">  
		    	<h3 class="panel-title">Cadastro de Video Game</h3>		
			</div>
		    <div class="panel-body">
			    <form class="form-horizontal">
			    	<div class="form-group">
					    <label for="nome" class="col-sm-2 control-label">Nome: </label>
					    <div class="col-sm-10">
					      <input type="text" ng-model="console.nome" class="form-control" 
					      id="nome" placeholder="Nome">
					    </div>
				    </div>
					<div class="form-group">
					    <label for="nome" class="col-sm-2 control-label">Data: </label>
					    <div class="col-sm-10">
					      <input type="date" ng-model="console.dataAquisicao" class="form-control" 
					      id="data" placeholder="Data">
					    </div>
				    </div>
					<div class="form-group">
					    <label for="empresa" class="col-sm-2 control-label">Empresa: </label>
					    <div class="col-sm-10">
					      <select class="form-control" id="empresa"  ng-model="console.empresa.id">
							<option ng-repeat="x in empresas" value="{{x.id}}">{{x.nome}}</option>
						 </select>
					    </div>
				    </div>
					
					  <div class="form-group">
    					<div class="col-sm-offset-2 col-sm-10">				
							<button type="button" class="btn btn-success" ng-click="salvar(console)" >Salvar</button>	
							<button type="button" class="btn btn-warning" ng-click="alterar(console)" >Alterar</button>
						</div>	
					</div> 		 
				</form>
		    </div>		
			<table class="table table-condensed">
				<tr>
					<th>Nome</th>
					<th>Data Cadastro</th>
					<th>Empresa</th>
				</tr>
				<tr ng-repeat="x in consoles">
					<td>{{x.nome}}</td>
					<td>{{x.dataAquisicao}}</td>
					<td>{{x.empresa.nome}}</td>
					<td>
						<button class="btn btn-info" type="button" ng-click="selecionar(x)">
							 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</td>
					<td>
						<button class="btn btn-danger" type="button" ng-click="excluir(x.id)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>		
			</table>
		</div>
		
	</div>
	
	
</body>
</html>