<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<script src="lib/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/empresaCTRL.js"></script>
	
</head>
<body ng-controller="listaEmpresaCTRL">
	<h2>Cadastro de Video Game</h2>
	<form>
		Nome: <input type="text" ng-model="empresa.nome">
		
		<button type="button" ng-click="salvar(empresa)" >Salvar</button>
		<button type="button" ng-click="alterar(empresa)" >Alterar</button>		 		 
	</form>
	
	<table>
		<tr>
			<th>Nome</th>			
		</tr>
		<tr ng-repeat="x in empresas">
			<td>{{x.nome}}</td>			
			<td><button type="button" ng-click="selecionar(x)">Selecionar</button></td>
			<td><button type="button" ng-click="excluir(x.id)">Excluir</button></td>
		</tr>
		
	</table>
	
</body>
</html>