<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<script src="lib/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/jogoCTRL.js"></script>
	
</head>
<body ng-controller="jogoCTRL">
	<h2>Cadastro de Video Game</h2>
	<form>
		Nome: <input type="text" ng-model="jogo.nome">
		
		Empresa: 
		<select  ng-model="jogo.console.id">
			<option ng-repeat="x in consoles" value="{{x.id}}">{{x.nome}}</option>
		 </select>
		<button type="button" ng-click="salvar(jogo)" >Salvar</button>
		<button type="button" ng-click="alterar(jogo)" >Alterar</button>		 		 
	</form>
	
	<table>
		<tr>
			<th>Nome</th>			
			<th>Console</th>
		</tr>
		<tr ng-repeat="x in jogos">
			<td>{{x.nome}}</td>			
			<td>{{x.console.nome}}</td>
			<td><button type="button" ng-click="selecionar(x)">Selecionar</button></td>
			<td><button type="button" ng-click="excluir(x.id)">Excluir</button></td>
		</tr>
		
	</table>
	
</body>
</html>